<<<<<<< Updated upstream
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gameplay-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("https://res.cloudinary.com/dwp8u82sd/image/upload/v1739112641/1_wkftfu.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


=======
>>>>>>> Stashed changes
