/* Updated Signup CSS */
.signup-auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/background.png') 
  no-repeat center center fixed;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}

.signup-auth-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
  backdrop-filter: blur(3px);
}

.signup-auth-container {
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  z-index: 2;
}

.signup-divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4); 
  margin: 1.5rem 0;
  width: 100%;
}

.signup-logo {
  position: absolute;
  top: 20px; 
  left: 20px; 
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  z-index: 2; 
}

.signup-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.signup-subtitle {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.signup-form label {
  grid-column: span 2;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
}

.signup-input-container {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.8rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.signup-input-container input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
  flex: 1;
  padding: 0.5rem;
}

.signup-input-icon {
  color: rgba(255, 255, 255, 0.8);
}

.signup-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  opacity: 0.9;
  color: #ffffff;
  width: 100%;
}

.signup-form input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.signup-auth-btn {
  grid-column: span 2;
  padding: 0.8rem;
  background-color: #3b93aa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.signup-auth-btn:hover {
  background-color: #0056b3;
}

.signup-social-login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: span 2;
}

.signup-social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.signup-google-btn {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  display: flex;
  align-items: center;
}

.signup-facebook-btn {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  display: flex;
  align-items: center;
}